@model List<Car>


<h1>INDEX CAR</h1>
<a asp-controller="Car" asp-action="Create" ><button class="btn" style="background-color: darkcyan">Creer</button></a>
              
<ul>
    @foreach (Car car in @Model)
    {
        <li>
            <a asp-controller="Car" asp-action="Detail" asp-route-id="@car.Id"><button class="btn" style="background-color: chartreuse">Voir</button></a>
            <a asp-controller="Car" asp-action="Update" asp-route-id="@car.Id"><button class="btn" style="background-color: coral">Update</button></a>
                        
            <a asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id"><button class="btn" style="background-color: crimson">Suppr.</button></a>
                        
            @car.Marque @car.Modele

        </li>
    }
</ul>


